.app {
	color: red;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.Login-Form {
	grid-column: 2;
	grid-row: 2;

	transform: skewY(-17.1deg);
	transform-origin: 0;
}

.register-form {
	grid-column: 3;
	grid-row: 1;

	transform: skewY(17deg);
	transform-origin: 0;
}

.Footer {
	grid-column: 1 / -1;
	grid-row: 3;

	text-align: center;
}
