.header {
  //text-align: center;
  color: darkgreen;
  background: #7171cabd;
  height: 60px;
  margin-bottom: 15px;
}

.log {
  padding: 5px;
}

.logoImg {
  height: 60px;
  vertical-align: top;  
}
