.login-form {
  color: yellowgreen;
  border: 1px solid black;
  padding: 10px;
}

.login-form > form {
  display: grid;
  grid-template-columns: [labels] 1fr [inputs] 1fr;
  grid-auto-flow: dense;

  margin: 0;
  padding: 5px;
}

.login-form > form > label {
  grid-column: labels;
  grid-row: auto;
  margin: 2px;
}

.login-form > form > input {
  grid-column: inputs;
  grid-row: auto;

  margin: 2px;
}

.login-form > form > button {
  grid-row: auto;
  grid-column: 1 / -1;
}
