.registerForm {
  border: 1px solid black;
  max-width: 550px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

.registerText {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12pt;
}
